Repository Andarist/lerna-alias: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write, prettier --single-quote --no-semi --trailing-comma=es5 --write

Added release scripts
  package.json
Due: none

2.0.0
  package-lock.json
  package.json
Due: none

Added files entry in package.json
  package.json
Due: none

yarn workspaces support
  lib/index.js
Due: prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write

2.0.1
  package-lock.json
  package.json
Due: none

Exporting separate aliases factory for each tool, because of their algorithms discrepancies
  README.md
  lib/index.js
Due: prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write, prettier --single-quote --no-semi --trailing-comma=es5 --write

3.0.0
  package-lock.json
  package.json
Due: none

Fixed rollup aliaser
  lib/index.js
Due: prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write

3.0.1
  package-lock.json
  package.json
Due: none

Extracted get-lerna-packages package
  lib/index.js
  package-lock.json
  package.json
Due: prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write

3.0.2
  package-lock.json
  package.json
Due: none

feat(main): remove index.js, it is redundant and ignores typescript modules
  lib/index.js
Due: prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write

Bumped get-lerna-packages
  package-lock.json
  package.json
Due: none

Updated lock file (npm audit fix)
  package-lock.json
Due: none

Remove explicit .js extension from aliased sourceDirectory - should allow i.e. .ts support
  lib/index.js
Due: prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write

3.0.3-0
  package-lock.json
  package.json
Due: none

Path conditions:
  prettier --print-width=120 --single-quote --no-semi --trailing-comma=es5 --write: any of: lib/**/*.js
  prettier --single-quote --no-semi --trailing-comma=es5 --write: any of: *.md
